*.mp4
*.jpg

*.csv
*.lnk
*.tex
*.epub
*.pdf
*.xlsx
*.Pipfile.
*.Pipfile.lock.
.archive_curso/
.video/
.img/
.template_course/
Curso Ciencia de Datos con R/Coursera
Books/
Python for Data Analisis/
**/node_modules/