/* p .absoluta {
  font-size: 30px;
}

p {
  font-size: 50%;
} */

.text-container {
  font-size: 20px;
}

/* medida relativa al padre */
.text-container p {
  font-size: 2.5em;
}

/*  Al setear una dimensión así, logramos que un REM sea siempre 1 px */
html {
  font-size: 62.5%;
}

.entendiendo-rem__ejemplo p {
  font-size: 1.6rem;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ESTRUCTURA GENERAL PARA EL CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
